# Angular build
/dist
/tmp
/out-tsc

# Node
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Env / Config
.env
.env.local
.env.*.local

# Angular CLI cache
.angular/cache
.angular/config.json

# Test output
/coverage

# Logs
*.log

# Compiled output
*.tsbuildinfo

# Misc
*.tgz
